<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639851185316-r91insc8gu3k6or5q3aru61s1kcklkjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639851185316-r91insc8gu3k6or5q3aru61s1kcklkjr</string>
	<key>API_KEY</key>
	<string>AIzaSyA6PPpf0XrWGkcoHnh_Jqixge9BOTLKhRk</string>
	<key>GCM_SENDER_ID</key>
	<string>639851185316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartindia.iOS.SmartIndia</string>
	<key>PROJECT_ID</key>
	<string>smartindia-bdb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>smartindia-bdb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639851185316:ios:ea1e9199407a0b95</string>
	<key>DATABASE_URL</key>
	<string>https://smartindia-bdb3c.firebaseio.com</string>
</dict>
</plist>